@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}


.cuerpoFormulario h1{
    color: white;
    font-weight: 800;
    font-size: 30px;
}

.cuerpoFormulario
{
    position: relative;
    width: 380px;
    height: 620px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.cuerpoFormulario::before
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.cuerpoFormulario::after
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.borderLine
{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#fff,#fff,#fff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after
{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#fff,#fff,#fff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.cuerpoFormulario form
{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.cuerpoFormulario form h2
{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}



.cuerpoFormulario form .inputBox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.cuerpoFormulario form .inputBox input
{
    position: relative;
    width: 100%;
    padding: 25px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.cuerpoFormulario form .inputBox span
{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.cuerpoFormulario form .inputBox input:valid ~ span,
.cuerpoFormulario form .inputBox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-45px);
}

.cuerpoFormulario form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.cuerpoFormulario form .inputBox input:valid ~ i,
.cuerpoFormulario form .inputBox input:focus ~ i
{
    height: 55px;
}

.cuerpoFormulario form .links
{
    display: grid;
    grid-template-columns: 50% 50%;
}

.cuerpoFormulario form .links a
{
    margin: 10px 0;
    font-size: 0.45em;
    color: #8f8f8f;
    text-decoration: none;
}

.cuerpoFormulario form .links a:hover,
.cuerpoFormulario form .links a:nth-child(2)
{
    color:#fff;
}

.cuerpoFormulario form input[type="submit"]
{
    border: none;
    outline: none;
    padding: 9px 0px;
    background: #fff;
    cursor: pointer;
    font-size: 0.7em;
    border-radius: 4px;
    font-weight: 600;
    width: 180px;
    margin-top: 5px;
}

.cuerpoFormulario form input[type="button"]
{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.7em;
    border-radius: 4px;
    font-weight: 600;
    width: 180px;
    margin-top: 5px;
}

.cuerpoFormulario form input[type="submit"]:active
{
    opacity: 0.8;
}

.cuerpoFormulario form input[type="button"]:active
{
    opacity: 0.8;
}
